<div class="row">
    <div class="span12" >
    <form style="display:inline;" class=" form-inline" id="office_select" method="post" action="{{ path('context_switch') }}">
        {{ form_widget(form.office) }} <button class="btn">Switch</button>
        {{ form_widget(form._token) }}
    </form>
    </div>
</div>
