<form style="display:inline;" id="office_select" method="post" action="{{ path('context_switch') }}">
    {{ form_widget(form.office) }}
    {{ form_widget(form._token) }}
</form>

<script type="text/javascript">
    $('#office_select_office').change(function(){
        $('#office_select').ajaxSubmit({
            success: function(response) {
                window.location.reload();
            }
        })
    });
</script>
