{% extends "::base.html.twig" %}

{% use 'TerramarSalesBundle:User:_subnav.html.twig' %}

{% block title %}{{ entity }}{% endblock %}

{% block subheader %}
<div class="pull-right">
    <a class="btn" href="{{ path('orkestra_user_edit', { id: entity.id }) }}"><i class="icon-edit"></i> Edit User</a>
</div>
{% endblock %}

{% block content %}
    {% render 'TerramarSalesBundle:OfficeUser/Alert:index' with { id : entity.id } %}
    <hr>
    {% render 'TerramarSalesBundle:OfficeUser/ToDo:index' with { id : entity.id } %}
    <hr>
    {% render 'TerramarSalesBundle:OfficeUser/Note:index' with { id : entity.id } %}
    <hr>
    {% render 'TerramarSalesBundle:OfficeUser/AlertHistory:index' with { id : entity.id } %}
{% endblock %}
